.checkout_main {
  width: 100%;
  height: auto;
  margin: 40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.checkout_container {
  width: 90%;
  /* background-color: #ddd; */
  padding: 10px;
}
.checkout_header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.checkout_header h6 {
  background-color: #f5f5f5;
  padding: 10px;
  font-size: 13px;
  font-weight: normal;
  margin: 10px 0;
}
.checkout_header h6 a {
  color: red;
}
.checkout_header p {
  font-size: 13px;
}
