* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.container {
    margin: 0 auto;
    padding: 20px;
}

.container .input-form {
    width: 500px;
    margin: 2% auto;
}

.input-form {
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 35px -16px rgba(0, 0, 0, 0.29);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Pacifico';
    font-size: 56px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-box {
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    width: 100%;
    box-shadow: 0 0 35px -16px rgba(0, 0, 0, 0.29);
}

.submit-button {
    color: white;
    background-color: #ec268f;
    font-size: 14px;
    padding: 10px;
    transition: 0.3s ease-in-out;
    font-weight: bold;
    border: 2px solid #ec268f;
    border-radius: 5px;
    cursor: pointer;
}

.input-box:focus {
    outline: none;
    border: 3px solid;
    box-shadow: 0 0 35px -16px rgba(0, 0, 0, 0.29);

}

.submit-button:hover {
    background-color: transparent;
    color: #ec268f;
}

.login-with-third-party-apps {
    margin: 1em;
    display: flex;
    border: 2px solid #ec268f;
    border-radius: 25px;
    justify-content: space-between;
}

.login-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 35px -16px rgba(0, 0, 0, 0.29);

}

.login-button.google {
    background-color: #db4437;
    color: white;
    margin: 0.2em;
}

.login-button.facebook {
    background-color: #3b5998;
    color: white;
    margin: 0.4em;
}

.login-button:hover {
    transform: translateY(-3px);
}

.login-button i {
    font-size: 24px;
    margin-right: 10px;
}

.login-button.google:hover {
    background-color: #c72f27;
}

.login-button.facebook:hover {
    background-color: #2f477a;
}

.p-not-member{
    text-align: center;
}


@media screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }

    .input-form{
        max-width: 100%;
    }

    .input-form h1{
        font-size: x-large;
    }
}

@media screen and (max-width: 340px) {
    .login-with-third-party-apps{
        margin: 0.3em 0;
    }
}