@import url("https://fonts.googleapis.com/css2?family=Cookie&family=Lobster&family=Montserrat:wght@100;200;400;500;600;700;800&family=Mulish:wght@300;400;600&family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;500;600&family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  outline: none;
}
body {
  min-height: 100vh;
  overflow-x: hidden;
}
nav {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: white;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  color: #333;
  font-size: 25px;
  font-weight: 700px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.nav_group {
  display: flex;
  align-items: center;
}
nav ul {
  position: relative;
  display: flex;
  gap: 30px;
}
nav ul li a {
  position: relative;
  font-size: 16px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  cursor: pointer;
}
nav ul li a::before {
  content: "";
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 2px;
  background-color: #333;
  transform: scaleX(0);
  transition: transform 0.5s ease-in-out;
  transform-origin: right;
}
nav ul li a:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}
.search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 17px;
  z-index: 10;
  cursor: pointer;
}

.searchBox {
  position: absolute;
  right: -100%;
  width: 100%;
  height: 100%;
  display: flex;
  background-color: white;
  align-items: center;
  padding: 0 30px;
  transition: 0.5s ease-in-out;
}
.searchBox input {
  width: 100%;
  border: none;
  height: 50px;
  color: #333;
  font-size: 18px;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.searchBox.active {
  right: 0;
}
.searchBtn {
  position: relative;
  left: 30px;
  top: 2.5px;
  right: 5px;
  transition: 0.5s ease-in-out;
}
.closeBtn {
  opacity: 0;
  visibility: 0;
  position: relative;
  left: 5px;
}
.searchBtn.active {
  left: 0;
}
.closeBtn {
  opacity: 0;
  visibility: hidden;
  transition: 0.5s;
  scale: 0;
}
.closeBtn.active {
  opacity: 1;
  visibility: visible;
  transition: 0.5s;
  scale: 1;
}
.menuToggle {
  position: relative;
  display: none;
  visibility: hidden;
  right: 5px;
}
header img {
  width: 100%;
  height: 400px;
  background-size: cover;
  background: no-repeat center center;
}
footer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-evenly;
  padding: 20px;
}
.footer_1 {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}
.footer_1 a {
  position: relative;
  left: 15px;
  font-weight: bold;
  font-size: 30px;
}
.footer_1 article {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-direction: column;
}
.footer_1 article h2 {
  font-size: 17px;
  position: relative;
}
.socials {
  display: flex;
  gap: 10px;
  justify-content: space-evenly;
}
.socials i {
  font-size: 18px;
  color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
.facebook {
  background-color: #4d68a1;
}
.twitter {
  background-color: #33aaf3;
}
.instagram {
  background-color: #f12179;
}
.youtube {
  background-color: #d23635;
}
.footer_2 {
  display: flex;
  padding: 20px;
  gap: 30px;
}
.footer_links {
  display: flex;
  padding: 20px 40px;
}
.footer_links ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.footer_links ul li a {
  color: black;
  transition: all 0.3s ease-in-out;
}
.footer_links ul li a:hover {
  color: blue;
}
.footer_3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 800px) {
  nav .navigation {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    left: 100%;
  }
  .menuToggle {
    position: absolute;
    display: block;
    font-size: 20px;
    visibility: visible;
    cursor: pointer;
    transform: translateX(30px);
    z-index: 10;
  }
  .searchBtn {
    left: 0;
  }
  nav.open .navigation {
    opacity: 1;
    visibility: visible;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    height: calc(100vh-80px);
    top: 80px;
    padding: 40px;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
  }
  nav.open .navigation li a {
    font-size: 16px;
  }
  .hide {
    display: none;
  }
}
